<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test" preserve-order="true">
      <!--<parameter name="url" value="file:///C:/Users/vincent/Desktop/test.html"/>-->
      <parameter name="url" value="http://list.pptv.com/sort_list/1.html"/>
      
	    <classes>
	      <!-- <class name="pptv.MovieItemClick" group="function-test"/> -->
	      <!-- <class name="pptv.Assert" group="function-test"/> -->
	      <!--<class name="pptv.CountElement" group="function-test"/> -->
	      <class name="pptv.RunClick" group="function-test"/> -->
	    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
